@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap');
/* =========General Element=========  */

:root{
    --main-font-family : 'Poppins';
    --main-bg-color : #6A5495;
    --purple : rgb(224, 72, 224);
    --pink : rgb(245, 127, 186);
    --cream : #faf0e6;
    --green : #11ebb1;
    --primary-font-color: black;
    --big-font-size : 2em;
    --medium-font-size : 1.1em;
    --small-font-size : 0.8em;
    --very-small-font-size : 0.6em;
    --padding-container : 4rem;
    
}
html {
    /* scroll-behavior: smooth; */
}
body{
    font-family: var(--main-font-family);
    background-color: var(--main-bg-color);
    color:white;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style-type: none;
}
.container{
    max-width: 1200px;
    margin : 0 auto;
}
/*--------------------Scrollbar Custome --------------------*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5acb8;
    border-radius: 10px;
    background:white;
}
::-webkit-scrollbar-thumb {
    background: #b0afac;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #a5acb8;
}

/* =========Headear Website=========  */
header#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}
.sroll__active{
    background-color: #5f4299;
}

body>header .nav{
    max-width: 1200px;
    position: relative;
    height: 50px;
}

.nav nav{
    display: flex;
    justify-content: space-between;
    padding : 0.3rem 0.6rem;
}


/* Logo */
.logo__website{
    font-size: 1.8em;
}
/* Navigation */
.navigation__container{
    margin: auto 0;
}
.toggle__navigation{
    margin :auto 0;
    display: none;
}
.toggle__navigation .bx{
    font-size : 2rem;
    cursor: pointer;
}
.navigation__container {
    display: block ;
    transition: 0.5s all ease-in-out;
}
.navigation__container ul{
    display: flex;
    cursor: pointer;
}
.navigation__container ul li.navigation__item{
    font-weight : 500;
    font-size : var(--small-font-size);
    padding : 0.3rem 0.7rem;
    transition: 0.2s all ease-out;
    color: white;

}
.navigation__item.active{
    background-color: var(--purple);
    border-radius : 10px;
}

main .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding : var(--padding-container)
}
.title__section{
    text-align: center;
    margin-bottom: 3.5rem;
}
.article__container{
    display: flex;
    justify-content: center;
}
header.title__section h1{
    font-size: var(--big-font-size);
    font-weight: 300;
}
header.title__section{
    padding-bottom : 1.5rem;
}
/* =========Main Website=========  */
/* %%%Home Section%%% */
#home .my__info{
    text-align : center;
    padding-bottom : 1.5rem;
}
#home .my__info h1{
    font-size: var(--big-font-size);
    font-weight: 300;
}
.my__info .social_media__container{
    margin-top: 0.5rem;
}
.my__info .social_media__container a{
    cursor: pointer;
    margin : 0.3rem;
}
.my__info .social_media__container i{
    font-size: 1.4em;
    background-color: var(--purple);
    color : white;
    border-radius: 50%;
    padding : 2px;
    margin: auto;
}
.my__info .social_media__container i:hover{
    transform: scale(1.1);
}
#home .my__picture{
    display: flex;
    align-items: center;
    height : 350px;
    object-fit: contain;
    margin-bottom : 1.5rem;
    margin-right : 1.1rem;
    box-shadow:  5px 5px 9px rgba(235,173,254,1),
             -5px -5px 9px rgba(254,150,150,1);
}
.my__picture img{
    width : 270px;
    height: 250px;
}
.my__button{
    display: flex;
    column-gap: 1.1rem;
}
.my__button a{
    padding : 0.6rem;
    border-radius: 0.9rem;
    font-size: var(--medium-font-size);
    font-weight: 400;
    cursor: pointer;
    color: white;
    box-shadow:  5px 5px 9px #e74dd2,
    -5px -5px 9px #fb53e4;
}
.my__button #download{
    border : 1.5px solid pink;
    background-color: var(--pink);
}
.my__button #hire{
    border : 1.5px solid rgb(241, 127, 245);
    background-color: var(--purple);
}
.my__button #download:hover,.my__button #hire:hover{
    background-color: transparent;
}

/* %%%About Me Section%%% */

.article__container .img__container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 1.1rem;
    flex : 50%;
}
.article__container .img__container img{
    width : 270px;
}
.article__container .detail__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex : 50%;
}
.article__container .detail__container ul{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.1rem;
}
.article__container .detail__container ul li{
    flex: 0 0 33%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(315deg, #f977ce 0%, #c373f2 74%);
    padding : 1rem;
}
.article__container .detail__container ul li i{
    font-size: 1.5em;
}
.article__container .detail__container>p{
    font-size: var(--medium-font-size);
    font-weight: 200;
    text-align: justify;
    margin-bottom: 1.1rem;
}
.article__container .detail__container a{
    font-size: var(--medium-font-size);
    width : 8rem;
    padding : 0.6rem;
    background-color: transparent;
    border : 2px solid #f180e2;
    border-radius: 10px;
    color: white;
    box-shadow:  5px 5px 9px #e74dd2,
    -5px -5px 9px #fb53e4;
    cursor: pointer;
}
.article__container .detail__container a:hover{
    color: var(--pink)
}

/*  %%% Ability Section %%%  */
.article__container.ability{
    width : 100%;
    column-gap: 2.5rem;
    display: flex;
    flex-wrap: wrap;
}
.article__container.ability .card{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(171,102,255,1) 0%, rgba(116,182,247,1) 90% );
    width : 40%;
    border-radius: 2rem;
    padding :3rem;
}
.article__container.ability .card>h1{
    text-align: center;
}
.article__container.ability .card ul{
    padding-top: 1.1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.article__container.ability .card ul li{
    display: flex;
    column-gap:0.2rem;
    padding-bottom: 1.1rem;
    flex:50%;
}
.article__container.ability .card ul li i{
    font-size: 2rem;
    
}
.article__container.ability .card ul li p{
    font-weight: 200;
    font-size: var(--small-font-size);
}
.article__container.ability .card ul li h1{
    font-weight: 300;
    font-size: var(--medium-font-size);
}

/*  %%% Experiance Section %%%  */

.article__container.experiance{
    width : 100%;
    column-gap: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    padding-left : 5rem;
    padding-right: 5rem;
}

.article__container.experiance .card{
    /* From https://css.glass */
    background: rgba(244, 107, 247, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(244, 107, 247, 0.3);
    width : 40%;
    border-radius: 2rem;
    padding :2rem 3rem;
    margin-bottom: 1.1rem;
}
.article__container.experiance .card ul li{
    padding-bottom: 1.1rem;
    padding-top: 0.1rem;
    position: relative;
}
.article__container.experiance .card ul li::before{
    content: '';
    width : 2px;
    position: absolute;
    height: 100%;
    left: -1rem;
    background-color: var(--purple);
    top:0;
}
.article__container.experiance .card ul li .bxs-graduation, .article__container.experiance .card ul li .bxs-briefcase-alt-2{
    position: absolute;
    top:-0.1em;
    left: -1.5rem;
    font-size: 1.3em;
}
.article__container.experiance .card ul li p.timeline__date{
    font-weight: 500;

}
.article__container.experiance .card ul li p{
    font-weight: 200;
    font-size: var(--small-font-size);
    text-align: justify;
}
.article__container.experiance .card ul li h1{
    font-size: 0.7em;
    font-weight: 600;
    margin: 0.5rem 0;
}

ul.list__achivement li{
    font-size: var(--small-font-size);
    font-weight: 200;
    padding-bottom: 0rem !important;

}

/*  %%% Portofolio Section %%%  */
.container#portofolio{
    justify-content: flex-start;
    min-height: 650px;
}
.article__container.portofolio{
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
}
.filter_portfolio__container{
    text-align: center;
    margin-bottom: 0.7rem;
}
.filter_portfolio__container button{
    font-size: 1.3rem;
    background-color: transparent;
    color: white;
    padding : 0.3rem;
    border : none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s all ease-out;
}

button.active__filter_portofolio{
    color: var(--pink);
    position: relative;
}

button.active__filter_portofolio::before{
    position: absolute;
    content: "";
    width : 0.3rem;
    background-color: var(--purple);
    height : 0.3rem;
    bottom: 0;
    border-radius: 50%;
    left:50%;
}

.result_portofolio__container{
    display: flex;
    column-gap: 1.1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.container__card_portofolio{
    flex: 0 0 30%;
    border : 1px solid var(--pink);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    padding : 0.5rem;
    position: relative;
    border-radius: 10px;
    transition: 0.1s all ease-out;
}

.container__card_portofolio.hide{
    display: none;
}
.container__card_portofolio.show{
    display: flex;
    animation : showCard 1s ease-in-out;
}

@keyframes showCard {
    0%{
        transform: scale(0.6);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
    
}

.container__card_portofolio .mask{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    opacity: 1;
}

.container__card_portofolio h1{
    position: absolute;
    left: 1rem;
    opacity: 1;
    font-weight: 200;
}
.container__card_portofolio p{
    opacity: 1;
    position: absolute;
    top:0;
    left: 0.5rem;
    font-weight: 200;
    background-color: var(--pink);
    padding : 5px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container__card_portofolio a{
    position: absolute;
    bottom: 1.5rem;
    left: 0.5rem;
    font-weight: 200;
    cursor: pointer;
    opacity: 1;
}   

.container__card_portofolio a i{
    font-size: 1.5rem;
    border-radius : 50%;
    background-color: var(--pink);
}

.container__card_portofolio:hover{
    transform: translateY(-1rem);
}
.container__card_portofolio img {
    width: 250px;
    height: 150px;
}
.container__card_portofolio.mobile img {
    width: 150px;
    height: 300px;
}


/* %%%Contact Session%%% */
.article__container.contact{
    width: 100%;
    flex-direction: row;
    column-gap: 1.5rem;
    align-items: center;
    flex-wrap: wrap;
}

.article__container.contact .map__container{
    display: flex;
    border : 2px solid white;

}
.article__container.contact .map__container iframe{
    width :200px;
    height: 200px;
}
.article__container.contact form{
    flex : 0 0 40%;
}
.article__container.contact form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    padding : 1rem;
}
.article__container.contact form div label{
    font-size: var(--small-font-size);
    font-weight: 200;
    transform: translateY(-20px);
}
.article__container.contact form div input,.article__container.contact form div textarea{
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom : 2px solid var(--pink);
    color: white;
    z-index: 1;
    
}

.article__container.contact form div input:focus ~ label,.article__container.contact form div input:valid ~ label{
    transform: translateY(-40px);
}
.article__container.contact form div textarea:focus ~ label,.article__container.contact form div textarea:valid ~ label{
    transform: translateY(-60px);
}

.article__container.contact form button{
    font-size: var(--small-font-size);
    width : 7rem;
    background-color: var(--purple);
    border : none;
    color : white;
    padding : 0.5rem;
}
/* ========%%% Aside Biodata %%%========= */
.biodata{
    font-weight: 200;
    margin-bottom: 1.7rem;
}
.biodata h1{
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}
.biodata div{
    display: flex;
    column-gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}
.biodata div img{
    margin-bottom: 1.1rem;
    border-radius : 10px;
    background: #fd8686;
    box-shadow:  20px 20px 37px #d77272,
                 -20px -20px 37px #ff9a9a;
}
.biodata div #info-bio{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.biodata div #info-bio pre{
    font-family: var(--main-font-family);
    font-size: var(--small-font-size);
}
/* ===Footer=== */
footer{
    text-align: center;
    background-color: rebeccapurple;
    padding : 0.5rem;
    font-weight: 200;
    font-size: var(--small-font-size);
}
/* =========Media Query========= */
@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 900px){
    /*Tablets [601px -> 1200px]*/
    .article__container.experiance{
        padding-left: var(--padding-container);
        padding-right: var(--padding-container);
    }

    /* Experiance Section */
    .article__container.experiance .card{
        width : 70%;
    }
}
@media only screen and (max-width: 760px){
    /*Tablets [601px -> 1200px]*/
    /* =========Header======== */
    .nav .logo__website{
        padding-left: 0.3rem;
    }
    .nav nav{
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        padding : 0.3rem 0rem;
        background-color: #5f4299;

    }
    .navigation__container{
        width : 100%;
        display : none;
    }
    .navigation__container ul {
        flex-direction: column;
    }
    .toggle__navigation.active{
        display: block;
    }
    .toggle__navigation.close__icon.active ~.navigation__container{
        display: block;
    }
    /* ===Main=== */
    .article__container .detail__container>p{
        font-size: var(--small-font-size);
    }
    .article__container.ability .card{
        width : 70%;
        margin-bottom: 1.1rem;
        padding :2rem;
    }

    /* Experiance Section */
    .article__container.experiance .card{
        width : 80%;
    }

    /* Portofolio Section */
    .result_portofolio__container{
        justify-content: center;
    }
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    /* =========Header======== */
    .nav .logo__website{
        padding-left: 0.3rem;
    }
    .nav nav{
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        padding : 0.3rem 0rem;
        background-color: #5f4299;

    }
    .navigation__container{
        width : 100%;
        display : none;
    }
    .navigation__container ul {
        flex-direction: column;
    }
    .toggle__navigation.active{
        display: block;
    }
    .toggle__navigation.close__icon.active ~.navigation__container{
        display: block;
    }

    /* =========Main======== */
    .title__section{
        margin-bottom: 0rem;
    }
    /* Aboutme Section */
    #about__me .article__container{
       flex-wrap: wrap;
    }
    .article__container .detail__container>p{
        font-size: var(--small-font-size);
    }
    /* Ability Section */
    .article__container.ability .card{
        width : 80%;
        margin-bottom: 1.1rem;
        padding :2rem;
    }
    .article__container.ability .card ul li h1{
        font-size: var(--small-font-size);
    }
    .article__container.ability .card ul li p{
        font-size: var(--very-small-font-size);
    }
    /* Experiance Section */
    .article__container.experiance{
        padding : 0rem;
    }
    .article__container.experiance .card{
        width : 100%;
    }


}
@media only screen and (max-width: 425px){
    .article__container.experiance{
        padding : 0rem;
    }
    .article__container.ability .card{
        width : 100%
    }
}